*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style-type: none;
}

.r-attribution {
  font-size: 11px;
  text-align: center;
}
.r-attribution a {
  color: #3e52a3;
}

.r-navbar {
  margin-top: 32px;
  width: 87.2%;
  margin-inline: auto;
  height: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
@media screen and (min-width: 1200px) {
  .r-navbar {
    width: min(1400px, 93.8888888889%);
  }
}
@media screen and (min-width: 1200px) {
  .r-navbar {
    margin-top: 34px;
    height: 56px;
  }
}
@media screen and (min-width: 1200px) {
  .r-navbar .logo {
    width: 170px;
    height: auto;
  }
}
.r-navbar .hamburger-menu {
  border: none;
  background-color: inherit;
  cursor: pointer;
}
@media screen and (min-width: 1200px) {
  .r-navbar .hamburger-menu {
    display: none;
  }
}
.r-navbar .navlink-list {
  overflow: hidden;
  transition: height 0.25s;
}
.r-navbar .navlink-list[data-state=closed] {
  height: 0;
  opacity: 0;
}
.r-navbar .navlink-list[data-state=open] {
  height: 329px;
}
.r-navbar .navlink-list[data-state=open],
.r-navbar .navlink-list[data-state=closed] {
  position: absolute;
  background-color: #fffcf8;
  width: 100%;
  top: 50px;
  display: flex;
  text-align: center;
  flex-direction: column;
  gap: 32px;
  padding-top: 63px;
  z-index: 999;
  clip-path: polygon(calc(100% - 24px) 24px, 100% 0, 100% 100%, 0 100%, 0 24px);
}
.r-navbar .navlink-list[data-state=open] .navlink,
.r-navbar .navlink-list[data-state=closed] .navlink {
  font-family: "Barlow", sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 25px;
  letter-spacing: -0.142857px;
  color: #818498;
}
@media screen and (min-width: 1200px) {
  .r-navbar .navlink-list[data-state=open] .navlink,
.r-navbar .navlink-list[data-state=closed] .navlink {
    font-size: 18px;
    line-height: 25px;
    letter-spacing: -0.128571px;
  }
}
.r-navbar .navlink-list[data-state=open] .call-to-action,
.r-navbar .navlink-list[data-state=closed] .call-to-action {
  font-family: "Fraunces", serif;
  font-weight: 700;
  font-size: 15px;
  line-height: 25px;
  letter-spacing: -0.107143px;
  text-transform: uppercase;
  color: #24303e;
  background-color: #fbd600;
  width: 140px;
  height: 56px;
  display: inline-grid;
  place-items: center;
  border-radius: 999px;
}
@media screen and (min-width: 1200px) {
  .r-navbar .navlink-list[data-state=closed],
.r-navbar .navlink-list[data-state=open] {
    opacity: 1;
    height: 100%;
    flex-direction: row;
    gap: 47px;
    clip-path: unset;
    width: auto;
    position: static;
    background-color: transparent;
    overflow: unset;
    padding-top: 0;
    align-items: center;
  }
  .r-navbar .navlink-list[data-state=closed] .navlink,
.r-navbar .navlink-list[data-state=open] .navlink {
    color: #ffffff;
  }
  .r-navbar .navlink-list[data-state=closed] .call-to-action,
.r-navbar .navlink-list[data-state=open] .call-to-action {
    background-color: #ffffff;
    color: #24303e;
  }
  .r-navbar .navlink-list[data-state=closed] .call-to-action:hover,
.r-navbar .navlink-list[data-state=open] .call-to-action:hover {
    background-color: rgba(255, 255, 255, 0.25);
    color: #ffffff;
  }
}

.r-header {
  position: relative;
  padding-top: 88px;
  height: clamp(394px, 128.5333333333vw, 710px);
}
@media screen and (min-width: 1200px) {
  .r-header {
    padding-top: 105px;
  }
}
.r-header .background-image {
  position: absolute;
  inset: -56px 0 0 0;
  z-index: -1;
}
@media screen and (min-width: 1200px) {
  .r-header .background-image {
    top: -90px;
  }
}
.r-header .background-image .image {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center bottom;
}
.r-header .title {
  font-family: "Fraunces", serif;
  font-weight: 900;
  font-size: 40px;
  line-height: 1.225;
  letter-spacing: 6.25px;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
}
@media screen and (min-width: 720px) {
  .r-header .title {
    font-size: 48px;
  }
}
@media screen and (min-width: 1200px) {
  .r-header .title {
    font-size: 56px;
    line-height: 69px;
    letter-spacing: 8.75px;
  }
}
.r-header .btn-roll {
  display: block;
  margin: 52px auto 0;
  width: 34px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
@media screen and (min-width: 1200px) {
  .r-header .btn-roll {
    margin-top: 96.5px;
  }
}
.r-header .btn-roll .arrow {
  width: 100%;
  height: auto;
}

.rt-details {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 1200px) {
  .rt-details {
    height: 600px;
  }
  .rt-details[data-type=transform] {
    flex-direction: row-reverse;
  }
  .rt-details[data-type=stand-out] {
    flex-direction: row;
  }
}
@media screen and (min-width: 1200px) {
  .rt-details .image-container {
    width: 50%;
    height: 100%;
  }
}
.rt-details .image-container .image {
  width: 100%;
  height: auto;
}
@media screen and (min-width: 1200px) {
  .rt-details .image-container .image {
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}
.rt-details .header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 64px 0;
  width: 87.2%;
  margin-inline: auto;
}
@media screen and (min-width: 1200px) {
  .rt-details .header {
    width: min(1400px, 93.8888888889%);
  }
}
@media screen and (min-width: 1200px) {
  .rt-details .header {
    width: 46.1805555556%;
    margin: 0 0 0 3.8194444444%;
    padding: 0 110px;
    justify-content: center;
    align-items: flex-start;
  }
}
.rt-details .header .title {
  font-family: "Fraunces", serif;
  font-weight: 900;
  font-size: 32px;
  line-height: 39px;
  letter-spacing: -0.228571px;
  text-align: center;
  color: #24303e;
  max-width: 445px;
}
@media screen and (min-width: 1200px) {
  .rt-details .header .title {
    font-size: 40px;
    line-height: 49px;
    text-align: left;
  }
}
.rt-details .header .description {
  margin-top: 24px;
  max-width: 445px;
  font-family: "Barlow", sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  letter-spacing: -0.128571px;
  color: #808397;
}
@media screen and (min-width: 1200px) {
  .rt-details .header .description {
    text-align: left;
  }
}
@media screen and (min-width: 1200px) {
  .rt-details .header .description {
    margin-top: 32px;
  }
}
.rt-details .header .call-to-action {
  margin-top: 32px;
  font-family: "Fraunces", serif;
  font-weight: 900;
  font-size: 15px;
  line-height: 25px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #24303e;
  position: relative;
  cursor: pointer;
}
@media screen and (min-width: 1200px) {
  .rt-details .header .call-to-action {
    margin-top: 40px;
  }
}
.rt-details .header .call-to-action:hover::after {
  opacity: 1;
}
.rt-details .header .call-to-action[data-color=red]::after {
  background-color: #fe7766;
}
.rt-details .header .call-to-action[data-color=yellow]::after {
  background-color: #fad400;
}
.rt-details .header .call-to-action::after {
  content: "";
  display: block;
  position: absolute;
  width: calc(100% + 19px);
  height: 10px;
  border-radius: 999px;
  opacity: 0.25;
  bottom: 0;
  left: -8px;
  z-index: -1;
}

@media screen and (min-width: 1200px) {
  .rt-details-02-container {
    display: flex;
  }
}

.rt-details-02 {
  padding-bottom: 160%;
  height: 0;
  position: relative;
  display: flex;
  justify-content: center;
}
@media screen and (min-width: 540px) {
  .rt-details-02 {
    padding-bottom: 83.3333333333%;
  }
}
@media screen and (min-width: 1200px) {
  .rt-details-02 {
    width: 50%;
    padding-bottom: 41.6666666667%;
  }
}
.rt-details-02 .image-container {
  position: absolute;
  inset: 0 0 0 0;
}
.rt-details-02 .image-container .image {
  width: 100%;
  height: auto;
}
.rt-details-02 .header {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 87.2%;
  margin-inline: auto;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding-bottom: 59px;
}
@media screen and (min-width: 1200px) {
  .rt-details-02 .header {
    width: min(1400px, 93.8888888889%);
  }
}
.rt-details-02 .header .description {
  max-width: 339px;
}
.rt-details-02 .header .description[data-typography=p2] {
  font-family: "Barlow", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 27px;
  text-align: center;
  letter-spacing: -0.114286px;
  color: #24554a;
}
.rt-details-02 .header .description[data-typography=p3] {
  font-family: "Barlow", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 27px;
  text-align: center;
  letter-spacing: -0.114286px;
  color: #24554a;
  color: #19536c;
}
.rt-details-02 .header .title {
  margin-bottom: 27px;
  max-width: 339px;
}
.rt-details-02 .header .title[data-typography=h2-02] {
  font-family: "Fraunces", serif;
  font-weight: 900;
  font-size: 28px;
  line-height: 35px;
  text-align: center;
  letter-spacing: -0.2px;
  color: #24554a;
}
.rt-details-02 .header .title[data-typography=h2-03] {
  font-family: "Fraunces", serif;
  font-weight: 900;
  font-size: 28px;
  line-height: 35px;
  text-align: center;
  letter-spacing: -0.2px;
  color: #24554a;
  color: #052c3b;
  opacity: 0.75;
}

.r-testimonials-section {
  padding-top: 64px;
  width: 87.2%;
  margin-inline: auto;
}
@media screen and (min-width: 1200px) {
  .r-testimonials-section {
    width: min(1400px, 93.8888888889%);
  }
}
@media screen and (min-width: 1200px) {
  .r-testimonials-section {
    padding-top: 160px;
  }
}
.r-testimonials-section .title {
  font-family: "Fraunces", serif;
  font-weight: 900;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 4px;
  color: #a7aaad;
  text-transform: uppercase;
}
@media screen and (min-width: 1200px) {
  .r-testimonials-section .title {
    font-size: 20px;
    line-height: 25px;
    letter-spacing: 5px;
  }
}
.r-testimonials-section .testimonials-list {
  margin-top: 64px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 64px;
}
@media screen and (min-width: 1200px) {
  .r-testimonials-section .testimonials-list {
    margin-top: 81px;
    grid-template-columns: repeat(3, 350px);
    gap: 30px;
    justify-content: center;
  }
}

.r-testimonial {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.r-testimonial .avatar {
  width: 72px;
  height: 72px;
  border-radius: 50%;
}
.r-testimonial .text {
  margin: 32px 0;
  max-width: 445px;
  font-family: "Barlow", sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 32px;
  text-align: center;
  letter-spacing: -0.128571px;
  color: #5b636d;
}
@media screen and (min-width: 1200px) {
  .r-testimonial .text {
    margin: 58px 0 69px;
  }
}
.r-testimonial .name {
  font-family: "Fraunces", serif;
  font-weight: 900;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  letter-spacing: -0.128571px;
  color: #24303e;
}
.r-testimonial .job-title {
  margin-top: 9px;
  font-family: "Barlow", sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 25px;
  text-align: center;
  letter-spacing: -0.1px;
  color: #a7aaad;
}

/*# sourceMappingURL=index.css.map */
