@use 'sass:map';
@use 'sass:math';

//media query
$breakpoints: (
  mobile: 350px,
  tablet: 720px,
  laptop: 1200px,
  desktop: 1520px,
);

@mixin media($size) {
  $breakpoint: map.get($breakpoints, $size);
  @media screen and (min-width: $breakpoint) {
    @content;
  }
}

//fonts
$font-barlow: 'Barlow', sans-serif;
$font-fraunces: 'Fraunces', serif;

//colors
$very-dark-desaturated-blue: hsl(212, 27%, 19%);
$very-dark-grayish-blue: hsl(213, 9%, 39%);
$dark-grayish-blue: hsl(232, 10%, 55%);
$grayish-blue: hsl(210, 4%, 67%);
$white: hsl(0, 0%, 100%);

//typography
@mixin t-navlink {
  font-family: $font-barlow;
  font-weight: 600;
  font-size: 20px;
  line-height: 25px;
  letter-spacing: -0.142857px;

  @include media(laptop) {
    font-size: 18px;
    line-height: 25px;
    letter-spacing: -0.128571px;
  }
}

@mixin t-h1 {
  font-family: $font-fraunces;
  font-weight: 900;
  font-size: 40px;
  line-height: math.div(49, 40);
  letter-spacing: 6.25px;
  text-transform: uppercase;

  @include media(tablet) {
    font-size: 48px;
  }

  @include media(laptop) {
    font-size: 56px;
    line-height: 69px;
    letter-spacing: 8.75px;
  }
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style-type: none;
}

.r-attribution {
  font-size: 11px;
  text-align: center;

  a {
    color: hsl(228, 45%, 44%);
  }
}

.r-navbar {
  margin: 32px auto 0px;
  width: 87.2%;
  height: 24px;
  display: flex;
  justify-content: space-between;

  .hamburger-menu {
    border: none;
    background-color: inherit;
    cursor: pointer;
  }

  .navlink-list {
    &[data-state='closed'] {
      display: none;
    }
  }
}

.r-header {
  position: relative;
  padding-top: 88px;
  height: clamp(394px, #{math.div(482, 375) * 100}vw, 544px);

  .background-image {
    position: absolute;
    inset: -56px 0 0 0;
    z-index: -1;

    .image {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center bottom;
    }
  }

  .title {
    @include t-h1;
    text-align: center;
    color: $white;
  }

  .btn-roll {
    display: block;
    margin: 52px auto 0;
    width: 34px;
    border: none;
    background-color: transparent;
    cursor: pointer;

    .arrow {
      width: 100%;
      height: auto;
    }
  }
}
