@use 'sass:map';
@use 'sass:math';

//media query
$breakpoints: (
  mobile: 350px,
  tablet: 720px,
  laptop: 1200px,
  desktop: 1520px,
);

@mixin media($size) {
  $breakpoint: map.get($breakpoints, $size);
  @media screen and (min-width: $breakpoint) {
    @content;
  }
}

@mixin container() {
  width: 87.2%;
  margin-inline: auto;

  @include media(laptop) {
    width: Min(1400px, math.percentage(math.div(1352, 1440)));
  }
}

//fonts
$font-barlow: 'Barlow', sans-serif;
$font-fraunces: 'Fraunces', serif;

//colors
$very-dark-desaturated-blue: #24303e;
$very-dark-grayish-blue: #5a636c;
$dark-grayish-blue: #818498;
$grayish-blue: #a7abae;
$light-gray: #fffcf8;
$white: #ffffff;

$soft-red: #fe7867;
$yellow: #fbd600;
$dark-desaturated-cyan: #25564b;
$dark-blue: #19536b;
$dark-moderate-cyan: #458c7e;

//typography
@mixin t-navlink {
  font-family: $font-barlow;
  font-weight: 600;
  font-size: 20px;
  line-height: 25px;
  letter-spacing: -0.142857px;

  @include media(laptop) {
    font-size: 18px;
    line-height: 25px;
    letter-spacing: -0.128571px;
  }
}

@mixin t-h1 {
  font-family: $font-fraunces;
  font-weight: 900;
  font-size: 40px;
  line-height: math.div(49, 40);
  letter-spacing: 6.25px;
  text-transform: uppercase;

  @include media(tablet) {
    font-size: 48px;
  }

  @include media(laptop) {
    font-size: 56px;
    line-height: 69px;
    letter-spacing: 8.75px;
  }
}

@mixin t-h2 {
  font-family: $font-fraunces;
  font-weight: 900;
  font-size: 32px;
  line-height: 39px;
  letter-spacing: -0.228571px;
  text-align: center;
  color: #24303e;

  @include media(laptop) {
    font-size: 40px;
    line-height: 49px;
    text-align: left;
  }
}

@mixin t-h2-02 {
  font-family: $font-fraunces;
  font-weight: 900;
  font-size: 28px;
  line-height: 35px;
  text-align: center;
  letter-spacing: -0.2px;
  color: #24554a;
}

@mixin t-h2-03 {
  @include t-h2-02();
  color: #052c3b;
  opacity: 0.75;
}

@mixin t-h2-04 {
  font-family: $font-fraunces;
  font-weight: 900;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 4px;
  color: #a7aaad;
  text-transform: uppercase;

  @include media(laptop) {
    font-size: 20px;
    line-height: 25px;
    letter-spacing: 5px;
  }
}

@mixin t-h3 {
  font-family: $font-fraunces;
  font-weight: 900;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  letter-spacing: -0.128571px;
  color: #24303e;
}

@mixin t-p1 {
  font-family: $font-barlow;
  font-weight: 600;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  letter-spacing: -0.128571px;
  color: #808397;

  @include media(laptop) {
    text-align: left;
  }
}

@mixin t-p2 {
  font-family: $font-barlow;
  font-weight: 600;
  font-size: 16px;
  line-height: 27px;
  text-align: center;
  letter-spacing: -0.114286px;
  color: #24554a;
}

@mixin t-p3 {
  @include t-p2;
  color: #19536c;
}

@mixin t-p4 {
  font-family: $font-barlow;
  font-weight: 600;
  font-size: 18px;
  line-height: 32px;
  text-align: center;
  letter-spacing: -0.128571px;
  color: #5b636d;
}

@mixin t-p5 {
  font-family: $font-barlow;
  font-weight: 600;
  font-size: 14px;
  line-height: 25px;
  text-align: center;
  letter-spacing: -0.1px;
  color: #a7aaad;
}

@mixin t-cta-primary {
  font-family: $font-fraunces;
  font-weight: 700;
  font-size: 15px;
  line-height: 25px;
  letter-spacing: -0.107143px;
  text-transform: uppercase;
}

@mixin t-cta-02 {
  font-family: $font-fraunces;
  font-weight: 900;
  font-size: 15px;
  line-height: 25px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #24303e;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style-type: none;
}

.r-attribution {
  font-size: 11px;
  text-align: center;

  a {
    color: hsl(228, 45%, 44%);
  }
}

.r-navbar {
  margin-top: 32px;
  @include container();
  height: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;

  @include media(laptop) {
    margin-top: 34px;
    height: 56px;
  }

  .logo {
    @include media(laptop) {
      width: 170px;
      height: auto;
    }
  }

  .hamburger-menu {
    border: none;
    background-color: inherit;
    cursor: pointer;

    @include media(laptop) {
      display: none;
    }
  }

  .navlink-list {
    overflow: hidden;
    transition: height 0.25s;
  }

  .navlink-list[data-state='closed'] {
    height: 0;
    opacity: 0;
  }

  .navlink-list[data-state='open'] {
    height: 329px;
  }

  .navlink-list[data-state='open'],
  .navlink-list[data-state='closed'] {
    position: absolute;
    background-color: $light-gray;
    width: 100%;
    top: 50px;
    display: flex;
    text-align: center;
    flex-direction: column;
    gap: 32px;
    padding-top: 63px;
    z-index: 999;
    clip-path: polygon(
      calc(100% - 24px) 24px,
      100% 0,
      100% 100%,
      0 100%,
      0 24px
    );

    .navlink {
      @include t-navlink;
      color: $dark-grayish-blue;
    }

    .call-to-action {
      @include t-cta-primary;
      color: $very-dark-desaturated-blue;
      background-color: $yellow;
      width: 140px;
      height: 56px;
      display: inline-grid;
      place-items: center;
      border-radius: 999px;
    }
  }

  @include media(laptop) {
    .navlink-list[data-state='closed'],
    .navlink-list[data-state='open'] {
      opacity: 1;
      height: 100%;
      flex-direction: row;
      gap: 47px;
      clip-path: unset;
      width: auto;
      position: static;
      background-color: transparent;
      overflow: unset;
      padding-top: 0;
      align-items: center;

      .navlink {
        color: $white;
      }

      .call-to-action {
        &:hover {
          background-color: rgba(255, 255, 255, 0.25);
          color: $white;
        }

        background-color: $white;
        color: $very-dark-desaturated-blue;
      }
    }
  }
}

.r-header {
  position: relative;
  padding-top: 88px;
  height: clamp(394px, #{math.div(482, 375) * 100}vw, 710px);

  @include media(laptop) {
    padding-top: 105px;
  }

  .background-image {
    position: absolute;
    inset: -56px 0 0 0;
    z-index: -1;

    @include media(laptop) {
      top: -90px;
    }

    .image {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center bottom;
    }
  }

  .title {
    @include t-h1;
    text-align: center;
    color: $white;
  }

  .btn-roll {
    display: block;
    margin: 52px auto 0;
    width: 34px;
    border: none;
    background-color: transparent;
    cursor: pointer;

    @include media(laptop) {
      margin-top: 96.5px;
    }

    .arrow {
      width: 100%;
      height: auto;
    }
  }
}

.rt-details {
  display: flex;
  flex-direction: column;

  @include media(laptop) {
    height: 600px;

    &[data-type='transform'] {
      flex-direction: row-reverse;
    }

    &[data-type='stand-out'] {
      flex-direction: row;
    }
  }

  .image-container {
    @include media(laptop) {
      width: 50%;
      height: 100%;
    }

    .image {
      width: 100%;
      height: auto;

      @include media(laptop) {
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
    }
  }

  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 64px 0;
    @include container;

    @include media(laptop) {
      $margin-left: math.percentage(math.div(55, 1440));
      width: calc(50% - $margin-left);
      margin: 0 0 0 $margin-left;
      padding: 0 110px;
      justify-content: center;
      align-items: flex-start;
    }

    .title {
      @include t-h2();
    }

    .description {
      margin-top: 24px;
      max-width: 445px;
      @include t-p1();
      @include media(laptop) {
        margin-top: 32px;
      }
    }

    .call-to-action {
      margin-top: 32px;
      @include t-cta-02();
      position: relative;
      cursor: pointer;

      @include media(laptop) {
        margin-top: 40px;
      }

      &:hover::after {
        opacity: 1;
      }

      &[data-color='red']::after {
        background-color: #fe7766;
      }

      &[data-color='yellow']::after {
        background-color: #fad400;
      }

      &::after {
        content: '';
        display: block;
        position: absolute;
        width: calc(100% + 19px);
        height: 10px;
        border-radius: 999px;
        opacity: 0.25;
        bottom: 0;
        left: -8px;
        z-index: -1;
      }
    }
  }
}

.rt-details-02-container {
  @include media(laptop) {
    display: flex;
  }
}

.rt-details-02 {
  padding-bottom: math.percentage(math.div(600, 375));
  height: 0;
  position: relative;
  display: flex;
  justify-content: center;

  @media screen and (min-width: 540px) {
    padding-bottom: math.percentage(math.div(600, 720));
  }

  @include media(laptop) {
    width: 50%;
    padding-bottom: math.percentage(math.div(300, 720));
  }

  .image-container {
    position: absolute;
    inset: 0 0 0 0;

    .image {
      width: 100%;
      height: auto;
    }
  }

  .header {
    position: absolute;
    top: 0;
    bottom: 0;
    @include container;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    padding-bottom: 59px;

    .description {
      max-width: 339px;
    }

    .description[data-typography='p2'] {
      @include t-p2();
    }
    .description[data-typography='p3'] {
      @include t-p3();
    }

    .title {
      margin-bottom: 27px;
      max-width: 339px;
    }

    .title[data-typography='h2-02'] {
      @include t-h2-02();
    }

    .title[data-typography='h2-03'] {
      @include t-h2-03();
    }
  }
}

.r-testimonials-section {
  padding-top: 64px;
  @include container;

  .title {
    @include t-h2-04();
  }

  .testimonials-list {
    margin-top: 64px;
    display: flex;
    flex-direction: column;
    gap: 64px;
  }
}

.r-testimonial {
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: center;

  .avatar {
    width: 72px;
    height: 72px;
    border-radius: 50%;
  }

  .text {
    max-width: 445px;
    @include t-p4();
  }

  .name {
    @include t-h3();
  }

  .job-title {
    margin-top: 9px;
    @include t-p5();
  }
}
